* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  width: 300px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
input {
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(147, 147, 147);
  padding: 8px;
}
button {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(140, 140, 140);
}
main {
  width: 350px;
  background-color: rgb(150, 150, 150);
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  display: none;
}
img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100px;
  border-radius: 10px;
}
h1{
    font-size: 50px;
}
div{
    font-size: 30px;
}
i{
    background-color: white;
    padding: 2px;
    color: blue;
}
h2{
  width: fit-content;
  color: rgb(216, 194, 194);
}
nav{
  height: 100px;
  width: 100px;
  border: 15px solid rgb(91, 95, 97);
  border-radius: 50%;
  border-bottom-color: rgb(197, 188, 188);
  animation-name: circle;
  animation-iteration-count: infinite;
  animation-duration: 1.7s;
  animation-timing-function: linear;
}
@keyframes circle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.none{
  display: none;
}